/*QWidget#userStyleWidget {
  background-color: rgba(0,0,0,0%);
}*/

/*QLineEdit#login_jid,QLineEdit#login_password{ background-color: #C4C8CB;
                                              border: 1px solid #838688;
                                              border-radius: 4px;
                                              padding: 1px;
                                            }
*/

/*QPushButton#login_connect { background-color: #8E9194;
                            border-radius: 4px;
                            border: 1px solid #646668;
                            font: bold 12px;
                            padding: 4px 10px 4px 10px;
                            color: #515354;
                           }

         QPushButton#login_connect:hover { background-color: #7E8183;
                                           border: 1px solid #646668;
                                         }

         QPushButton#login_connect:pressed { background-color: #777777;
                                           }
*/
/*QLabel#login_headerLabel{ color: #515354; 
                          font: bold;
                        }*/

/*QLabel#login_jidLabel,QLabel#login_passwordLabel,QCheckBox#login_savePassword{ color: #515354;
                                                                               font: bold;
                                                                             }*/


/*QWidget#rosterView { background-image: url(themes/Grain/connect_bg.png);
                background-repeat: repeat-x;
        background-color:#A6ADB0;
        background-position: bottom left;
        alternate-background-color: rgba(174,145,107,50%);
        background-attachment: fixed;
              }*/

QWidget#groupStyleWidget { 
        background-color: rgba(122,98,68,50%);
        font: bold 12px;
              }





QMainWindow#mainWindow {
  background-color:#A6ADB0;
}
QWidget#login {
  background-image: url(themes/Grain/connect_bg.png);
                background-repeat: repeat-x;
				background-color:#A6ADB0;
				background-position: bottom left;
}

QLineEdit {
background-color: #C4C8CB;
                                              border: 1px solid #838688;
                                              border-radius: 4px;
                                              padding: 1px;
}








QPushButton#login_connect { 
  padding: 4px 10px 4px 10px;

}


QFrame#line::frameStyle{
background-color:#842C00;
color:#842C00;
}
/* { 
  color: #515354;
  font: bold;
}*/
QLabel#login_headerLabel,
QLabel#login_jidLabel,
QLabel#login_passwordLabel,
QCheckBox{
color: #515354; 
                          font: bold;
}


QWidget#rosterView {
background-image: url(themes/Grain/roster_bg.png);
                background-repeat: repeat-x;
        background-color:#d0d3d4;
        background-position: bottom left;
        alternate-background-color: rgba(174,145,107,50%);
        background-attachment: fixed;
        border-radius: 4px;
        border: 1px solid #646668;
}

QWidget#rosterTab {

  background-image: url(themes/Grain/connect_bg.png);
  alternate-background-color: rgba(102,84,61,40%);
  background-attachment: fixed;
  background-repeat: repeat-x;
  border-style: inset;
  background-position: bottom left;
/*   width: 50px; */
}

QWidget#userStyleWidget {
  background-color: rgba(0,0,0,0%);
  color: black;

}


QWidget#groupStyleWidget {
        background-color: rgba(122,98,68,50%);
        font: bold 12px;
}


QToolButton#showOffline,
QToolButton#statusButton,
QPushButton#addContact,
QPushButton#newBookmark,
QPushButton#pushButton,
QPushButton#pushButton_2,
QPushButton#saveButton,
QPushButton#cancelButton,
QPushButton#login_connect{
  background-color: #8E9194;
  border-radius: 4px;
  border: 1px solid #646668;
  font: bold 12px;
  padding: 4px 10px 4px 10px;
  color: #515354;
}

  QToolButton#statusButton::menu-arrow{
    image: url(foo.png);
  }

QPushButton#addContact,
QPushButton#newBookmark,
QPushButton#saveButton,
QPushButton#cancelButton {
  padding: 2px 10px 2px 10px;
  margin-top: 10px;
}



QToolButton#showOffline:hover,
QToolButton#statusButton:hover,
QPushButton#addContact:hover,
QPushButton#pushButton:hover,
QPushButton#pushButton_2:hover,
QPushButton#newBookmark:hover,
QPushButton#saveButton:hover,
QPushButton#cancelButton:hover,
QPushButton#login_connect:hover{
  background-color: #7E8183;
}

QToolButton#showOffline:checked,
QToolButton#statusButton:pressed,
QPushButton#addContact:pressed,
QPushButton#pushButton:pressed,
QPushButton#pushButton_2:pressed,
QPushButton#newBookmark:pressed,
QPushButton#saveButton:pressed,
QPushButton#cancelButton:pressed,
QPushButton#login_connect:pressed{
  background-color: #777777;
}


QTabWidget#tabWidget {
  background: url(themes/Grain/roster_bg.png) repeat-x;
  background-color:#A6ADB0;
  background-position: bottom left;
}

QWidget#roster{
  background-repeat: repeat-x;
  background-color:#A6ADB0;
  background-position: bottom left;
  selection-background-color: rgba(152,125,51,40%);
}

QTabWidget#tabWidget > QTabBar {
  background-color: #A6ADB0;
  border: 1px solid #646668;
}



  QTabWidget#tabWidget > QTabBar::tab:middle {
    border: 1px solid #646668;
    background-color:#bebebe;
  }

  QTabWidget#tabWidget > QTabBar::tab:last {
    border: 1px solid #646668;
    background-color:#bebebe;
    border-top-right-radius: 6px;
  }

  QTabWidget#tabWidget > QTabBar::tab:first {
    border: 1px solid #646668;
    background-color:#bebebe;
    border-top-left-radius: 6px;
  }

  QTabWidget#tabWidget > QTabBar::tab:selected {
    background-color:white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-style: none;
    background-color:#A6ADB0;
  }

QMenu {
  background-color: #8E9194;
  border-radius: 4px;
  border: 1px solid #646668;
  color: #515354;
}

  QMenu:selected {
    background-color: #8E9194;
    border: 1px solid #646668;
    color: #515354;
  }

QMenuBar {
  background-color: #8E9194;
  border: 1px solid #646668;
  color: #515354;
}

QWidget#preferences,
QWidget#xmlConsole,
QWidget#editbookmark,
QWidget#joingroupchat,
QWidget#chatWidget {
 background-color: #A6ADB0;
}

QWidget#listWidget {
  background: url(themes/Grain/roster_bg.png) repeat-x;
  background-color:#c2c5c6;
  background-position: bottom left;
}

QWidget#bookmarks,
QWidget#eventsListWidget,
QTextEdit {
  background-color: #C4C8CB; 
  border: 1px solid #646668;
  border-radius: 4px;
}

QComboBox,
QTextEdit,
QListView,
QTreeView { 
  background-color: #C4C8CB;
}

QTreeView {
  alternate-background-color: #C2C2C2;
}

QWidget#xml{
  background-color: black;
  color: #dadada;
  font-family: "Courier New";
  font: bold 14px;
}

QWidget#chatWindow,QWidget#chatwidget {
  background-color:#A6ADB0;
}


QWidget#chatWindow > QTabBar {
  background-color: #A6ADB0;
  border: 1px solid #646668;
}