[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: Jabbim Client
url: http://dev.jabbim.cz/jabbim

# The list of modules to document.  Modules can be named using
# dotted names, module filenames, or package directory names.
# This option may be repeated.


modules: pyxl/xmlrpclib.py,pyxl/xdata.py,pyxl/storage.py,pyxl/sockserror.py,jabbim.py,widgets/groupchat.py,widgets/chat.py,widgets/chatwidget.py,widgets/chatwindow.py,widgets/joingroupchat.py,widgets/mainWindow.py,widgets/preferences.py,widgets/rosterLiveWidget.py,widgets/status.py,widgets/subscription.py,widgets/waitdialog.py,widgets/xmlConsole.py,widgets/rosterLiveWidget.py,widgets/events.py,widgets/search.py,widgets/show.py,widgets/status.py,widgets/subscription.py,widgets/vcardview.py,widgets/waitdialog.py,widgets/commands.py,widgets/vcardeditor.py,widgets/about.py,pyxl/adhoc.py,pyxl/client.py,pyxl/contact.py,pyxl/derived.py,pyxl/events.py,pyxl/groupchat.py,pyxl/privacy.py,pyxl/rc.py,pyxl/register.py,pyxl/socks5.py,include/plugins.py


# Write html output to the directory "apidocs"
output: html
target: doc/apidocs/

# Include all automatically generated graphs.  These graphs are
# generated using Graphviz dot.
graph: all
dotpath: /usr/bin/dot
