[images]
#imageName='ng/image.png'
groupOpened='group-open.png'
groupClosed='group-closed.png'
groupBackground='group.png'

[colors]
#colorName=red,green,blue
#colorName=red,green,blue,alpha
groupBg=89,38,39
userBg=234,244,255
selectedBg=190,240,250

[groupitem]
height='23'
textFormat='<font color="#FFFFFF"><b>%text%</b></font>'
fontSize='12'
textCoordinates=-20,2
backgroundColor=5,0,-5,24,groupBg
backgroundImage=0,0,groupBackground
#backgroundColor=x,y,width,height,groupBackground
openedIcon=11,2,groupOpened
closedIcon=11,2,groupClosed

[useritem]
height='16'
textFormat='<font color="#000000"><b>%text%</b></font>'
fontSize='10'
textCoordinates=30,0
backgroundColor=5,0,-5,16,userBg
iconCoordinates=-6,0
iconSize=16,16
avatarCoordinates=11,0
avatarSize=16,16

[selected useritem]
textFormat='<font color="#000000"><b>%text%</b></font>'
fontSize='10'
textCoordinates=30,0
backgroundColor=5,0,-5,16,selectedBg
avatarCoordinates=11,0
avatarSize=16,16
iconCoordinates=-6,0
iconSize=16,16