[images]
#imageName='ng/image.png'
groupOpened = group-open.png
groupClosed = group-closed.png
groupBackground = group.png

[colors]
#colorName=red,green,blue
#colorName=red,green,blue,alpha
groupBg = 249, 237, 97
userBg = 255, 247, 203
selectedBg = 190, 240, 250
groupFont = 249, 0, 4
userFont = 102, 0, 0
selectedUserFont = 0, 0, 0

[groupitem]
shape = rounded
height = 27
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontColor = groupFont
fontSize = 12
textCoordinates = -24, 5
backgroundColor = 5, 0, -5, 24, groupBg
backgroundImage = 0, 0, groupBackground
#backgroundColor=x,y,width,height,groupBackground
openedIcon = 11, 6, groupOpened
closedIcon = 11, 6, groupClosed

[useritem]
height = 32
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontSize = 18
fontColor = userFont
textCoordinates = 44, 3
backgroundColor = 5, 0, -5, 32, userBg
iconCoordinates = -6, 0
iconSize = 16, 16
avatarCoordinates = 11, 0
avatarSize = 32, 32
statusTextCoordinates = 6, 16, -6, 32

[selected useritem]
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontColor = selectedUserFont
fontSize = 10
textCoordinates = 30, 0
backgroundColor = 5, 0, -5, 16, selectedBg
avatarCoordinates = 11, 0
avatarSize = 16, 16
iconCoordinates = -6, 0
iconSize = 16, 16
statusTextCoordinates = 6, 16, -6, 32