
/*QMainWindow#mainWindow {
  background-color:white;
}*/

QWidget {
background-color:#F9F7ED;
}

QFrame#frame{

         background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                     stop: 0.0 #FF8800, stop: 1.0 #FFFFFF);

color:black;
border:0;
}

QLabel#bookmarks_headerLabel
{
/* 	background-color:#2CAF2D; */
	color:#2CAF2D;
	font-weight:bold;
}

QWidget#login {
  background-image: url(themes/rose/rose.jpg);
  background-repeat: repeat-n;
  background-color:black;
  background-position: bottom right;
}

QLineEdit {
  background-color: #750D17;
  border: 1px solid #980000;
/*   border-radius: 4px; */
  padding: 1px;
  color: #F6AB43;

}

QLineEdit:focus {
  background-color: #980000;
  border: 1px solid #750D17;
}

QPushButton#login_connect { 
  border-radius: 4px;

  background-color: #642100;
  border: 1px solid #980000;
  font: bold 12px;
  padding: 4px 10px 4px 10px;
  color: #E4524D;
}

  QPushButton#login_connect:hover {
background-color: #750D17;
  }

 /* QPushButton#login_connect:pressed {
    background-color: #777777;
  }*/

QFrame#line::frameStyle{
background-color:#842C00;
color:#842C00;
}
/* { 
  color: #515354;
  font: bold;
}*/

/*QLabel{
color:black;
}*/

QLabel#login_headerLabel,
QLabel#login_jidLabel,
QLabel#login_passwordLabel,
QCheckBox{
  color: #E4524D;
  font: bold;
}
/*QCheckBox::indicator:checked {
  color:red;
  background-color: #8E9194;

  border: 1px solid #646668;
}*/

QWidget#rosterView {
  background-color:#FEFEFE;
  color: #F6AB43;
  alternate-background-color: #174C19;
  selection-background-color: #174C19;
  border: 0;
/*   border-radius: 4px; */
}


QWidget#selectedItemStyle{
	background-color:#B5CE29;
	color:#94AD10;
}

QWidget#rosterTab {
  background-color:white;
  alternate-background-color: rgba(102,84,61,40%);
  background-attachment: fixed;
  border-style: inset;
/*   width: 50px; */
}

QWidget#userStyleWidget {
  background-color: #B5CE29;
/*   color: rgb(209,170,129); */
  color: black;

}


QWidget#groupStyleWidget {
  background-color:#3BB003;
  color: white;
}

QPushButton {
  border-radius: 6px;
/*   background-color: #642100; */
/*   border: 3px solid #642100; */
/*   font: bold 12px; */
  color: #E4524D;
/*   margin:3px;*/
/*   padding:3px; */
}
QToolButton
{
  border-radius: 6px;
/*   background-color: #642100; */
/*   border: 3px solid #642100; */
/*  font: bold 12px;*/
  color: black;
/*   margin:3px; */
}
QToolButton::menu-indicator {
         image: url(menu_indicator.png);
         subcontrol-origin: padding;
         subcontrol-position: bottom right;
     }
QToolButton:hover
{
	background-color:#E77318;
	border: 3px solid #E77318;
}

QToolButton:checked
{
	background-color:#E77318;
	border: 3px solid #E77318;}


QPushButton#addContact,
QPushButton#newBookmark,
QPushButton#saveButton,
QPushButton#cancelButton {
  padding: 2px 10px 2px 10px;
  margin-top: 10px;
}






QTabWidget {
/*   background: url(themes/Grain/roster_bg.png) repeat-x; */
  background-color:white;
/*   background-position: bottom left; */
}

QWidget#roster{
/*   background-repeat: repeat-x; */
  background-color:white;
/*   background-position: bottom left; */
/*   selection-background-color: rgba(152,125,51,40%); */
}

QTabWidget > QFrame {
border:0;
}

QTabWidget > QTabBar {
  background-color: white;
  margin-bottom:6px;
}

     QTabWidget::pane { /* The tab widget frame */
         border:0;
         border-top: 4px solid #B5CE29;
     }

  QTabWidget#tabWidget::tab-bar{
  subcontrol-position:left center;
}

  QTabWidget > QTabBar::tab:middle {
    color: black;
    background-color:#B5CE29;
  }

  QTabWidget > QTabBar::tab:last {
border: 3px solid #B5CE29;
    color: black;
    background-color:#B5CE29;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  QTabWidget > QTabBar::tab:first {
    border: 3px solid #B5CE29;
    color: black;
    background-color:#B5CE29;
/*     border-top-left-radius: 10px; */
/*     border-bottom-left-radius: 10px; */
  }

  QTabWidget > QTabBar::tab:selected {
/*     border-top-left-radius: 6px; */
/*     border-top-right-radius: 6px; */
	border: 3px solid #2CAF2D;
    border-bottom-style: none;
    color: white;
    background-color:#2CAF2D;
  }
  QTabWidget > QTabBar::tab:only-one {
    border-radius: 6px;
	border: 3px solid #B5CE29;
    color: black;
    background-color:#B5CE29;
  }

QMenu {
  background-color: #FFCA8F;

/*   border-radius: 4px; */
  border: 1px solid black;
  color: black;
}

  QMenu:selected {
    background-color: #A60F38;
/*     border: 1px solid #646668; */
    color: white;
  }

QMainWindow#MainWindow > QWidget#centralWidget {
background-color:#FF8800
}

QMenuBar {
  background-color: #FF8800;
  border: 1px solid #FF8800;
  color: black;
}

QAbscractScrollArea{
  background-color: black;
color: #E4524D;
}

QScrollBar::handle:horizontal{
  background-color: black;
  color: #E4524D;
}

QScrollBar::sub-page{
  background-color: black;
color: #E4524D;
}

QScrollBar::sub-line{
  background-color: black;
color: #E4524D;
}
QScrollBar::add-line{
color: #E4524D;
  background-color: black;
}

QWidget#preferences,
QWidget#xmlConsole,
QWidget#editbookmark,
QWidget#joingroupchat,
QWidget#chatWidget {
 background-color: black;
}

QWidget#listWidget {
  background: url(themes/Grain/roster_bg.png) repeat-x;
  background-color:#c2c5c6;
  background-position: bottom left;
}


QTreeWidget#bookmarks {
	alternate-background-color: #EDFFE6;
	background-color:white;
	selection-background-color:#B5CE29;
	selection-color:black;
}

QWidget#xml{
  background-color: black;
  color: #dadada;
  font-family: "Courier New";
  font: bold 14px;
}

QWidget#chatWindow,QWidget#chatwidget,QWidget#groupchatwidget {
  background-color:black;
}



QWidget#users{
  background-color: #750D17;
/*   border: 1px solid #980000; */
  border-radius: 10px;
  padding: 1px;
  color: #F6AB43;
  alternate-background-color: rgba(00,00,00,0%);
  selection-background-color: rgba(00,00,00,100%);
  border:4px solid #750D17;

}


/*QTextEdit{
  background-color: #750D17;

  border-radius: 10px;
  padding: 1px;
  color: #F6AB43;
  border:4px solid #750D17;

}*/

QTextEdit#line:focus {
  background-color: #980000;
  border:4px solid #980000;
/*   border: 1px solid #750D17; */
}


QWidget#chatWindow > QTabWidget {
  background-color: black;
/*   border: 1px solid #646668; */
}


/*QTextEdit#selectedContactStatus:hover {
background-color:#FF8800;
}*/