
/*QMainWindow#mainWindow {
  background-color:white;
}*/




QLabel{
color:#888a85;

}

QRadioButton{
color:#888a85;
}


QRadioButton::indicator {
         width: 13px;
         height: 13px;
	background-color: #141417;
	border: 1px solid #888a85;
	border-radius: 6px;
	color:#888a85;
     }

QRadioButton::indicator::checked {
         width: 13px;
         height: 13px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #204a87, stop: 1 black);
	border: 1px solid #888a85;
	border-radius: 6px;
	color:#888a85;
	
     }




/*
QFrame#line{
color:#888a85;
}
*/
QMainWindow,QDialog {
	background-color: #141417;
	color:#888a85;
}

QWidget{
	background-color: #141417;
	color:#888a85;
}

QSplitter::handle {
	background-color: #141417;
}


QMainWindow#MainWindow{
background-color:#141417;
/* border-color:#507390; */

}


QWidget#login,QWidget#splash{
/* background-color:#D7DFE6; */
background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
				stop:0 #38383e, stop: 1 black);

background-repeat: no-repeat;
/*background-image:url('themes/web2/login.png');*/
background-position: top left;
background-attachment: fixed;
color:#888a85;
}

QTabWidget#tabWidget {
border:0;
}

/* QWidget#mainRosterWidget,QWidget#rosterView,QWidget#rosterTab > QWidget#rosterWidget > QWidget{ */
/* background-color:#FFFFFF; */
/* background-color:#D7DFE6; */
/* background-color:rgba(0,0,0,0) */

/* } */


QTabWidget#tabWidget {
  background-color: #141417;
}



QWidget#roster{
  background-color:#141417;

}



QTextEdit{
	border:1px solid #808080;
	border-radius: 6px;
	background-color:#161616;
	font-size:10em;
	color:#808080;
}

 QProgressBar {
	border:1px solid #808080;
	border-radius: 6px;
	background-color:#090909;
	text-align: center;
	color: #888a85;
	padding: 1px;
}

 QProgressBar::chunk {

	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #204a87, stop: 1 black);
     	width: 20px;
	
 }

QTreeWidget,QListWidget {
	alternate-background-color: #161616;
	background-color:#141417;
	color: #888a85;
	selection-background-color:#222222;
	selection-color:#888a85;
	border:1px solid #888a85;
	border-radius: 6px;
	padding-top: 5px;
}


QMenu {
  background-color: #161616;

/*   border-radius: 4px; */
  border: 1px solid #888a85;
  color: #888a85;
}

  QMenu:selected {
    background-color: #2e405c;
/*     border: 1px solid #646668; */
    color: #888a85;
  }

 QMenu:disabled {
  background-color: #161616;
  font-style: italic;
  color:gray;

 }


QMenuBar {
  background-color: #38383e;
/*   border: 1px solid #FF8800; */
  color: #888a85;
}

/*QWidget#chatView{

}*/
/* QWidget#rosterTab *{ */
/*    background:0;  */
/*  }  */
/* QWidget#scroll * { */
/* background:0; */
/* } */


/*whole roster - eg background is roster background*/
QWidget#rosterView {

  background: url(themes/Black/roster_background.png);  /*background of whole roster - images seem not working*/

 /* alternate-background-color: red;*/
  /*selection-background-color: red;*/
  border: 0px solid black;
  /*border: 0;*/
}

QWidget#selectedItemStyle{
	color:#1b232c;	/*outline of selected contact*/
  	background-color:#1b232c;	/*background of selected contact*/

}

QWidget#rosterTab{
  background-color:#141417;		/*line around whole roster*/
  background-attachment: fixed;
  border-style: none; 
}

QWidget#userStyleWidget {
 /* background-color: rgba(0,0,0,0);*/
   background-color: rgb(40,40,40);
  color:#888a85;       /*colour of contat's font*/

}

/*headers of groups*/
QWidget#groupStyleWidget {
  background-color:#151717;
  color:#888a85;
}

/*space with status in extended view*/
QTextEdit#selectedContactStatus{
	border: 0px none black;
	color: #888a85;
	background-color: #1b232c;
}



/*tabs start here*/

QTabWidget {
border:0;  /*DONTKNOW*/
background-color: red;/*
}


QTabWidget > QFrame {
border:0;  /*DONTKNOW*/
background-color:#141417;/*
}

QTabWidget > QTabBar {
  background-color:#141417;/*background behind tab panel*/

}

     QTabWidget::pane { /* The tab widget frame */
         border: 0;
         background-color:#141417;
         border-top: 1px solid black;

     }

  QTabWidget#tabWidget::tab-bar{

}


  QTabWidget > QTabBar::tab:middle {

	border:1px solid black;
	color: #888a85;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop:0.3 #222222,stop: 1 #222222);
	padding-top:5px;
	padding-left: 0px;
	padding-right: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

  QTabWidget > QTabBar::tab:last {
	border:1px solid black;
	
/*     color: black; */
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop:0.3 #222222,stop: 1 #222222);
	color: #888a85;
	padding-top:5px;
	padding-left: 0px;
	padding-right: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }

  QTabWidget > QTabBar::tab:first {
	border:1px solid black;
	
/*     color: black; */
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #404040, stop:0.3 #222222,stop: 1 #222222);
	color: #888a85;
	padding-top:5px;
	padding-left: 0px;
	padding-right: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }

  QTabWidget > QTabBar::tab:selected {
	border:1px solid black;
	
/*     color: black; */
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #24344b, stop:0.3 #15263f,stop: 1 #15263f);
	color: #888a85;
	padding-top:5px;
	padding-left: 0px;
	padding-right: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

  }
QTabWidget > QTabBar::tab:hover{
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #24344b, stop:0.3 #05162f,stop: 1 #05162f);

}
  QTabWidget > QTabBar::tab:only-one {
	border:1px solid black;
	padding-top:5px;
	padding-left: 0px;
	
/*     color: black; */
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #24344b, stop:0.3 #15263f,stop: 1 #15263f);
	color: #888a85;
	
	padding-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
  }
    QTabBar::tab:first:selected {
      margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
	
     }

     QTabBar::tab:last:selected {
         margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
     }

     QTabBar::tab:only-one {
         margin: 0; /* if there is only one tab, we don't want overlapping margins */
     }


QComboBox {
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
	padding: 1px 0px 1px 3px;
	min-width: 6em;
	color: #888a85;
}

QComboBox:focus{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
}

QComboBox:editable {
	background: #141417;
}

QComboBox:!editable, QComboBox::drop-down:editable {
	background-color: #141417;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
	background-color: #141417;
}
QComboBox:hover{
	background-color: #141417;
}
QComboBox:on { /* shift the text when the popup opens */
	padding-top: 3px;
	padding-left: 4px;

}

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 16px;
	padding-right:4px;
	border-left-width: 0px;
	border-left-color: darkgray;
	border-left-style: solid; /* just a single line */
	border-top-right-radius: 3px; /* same radius as the QComboBox */
	border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
	image: url('themes/Black/open.png');
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */

}

/*popup used by QComboBox*/
QComboBox QAbstractItemView {
	color:#888a85;
	background-color: #141417;
	border: 1px solid #888a85;
	selection-background-color: #2e405c;
	width: 400px;
 }


QCheckBox{

	border-radius: 6px;

	padding-left:3px;
	padding-right:3px;
	color:#888a85;
}
QCheckBox:disabled{
	/*border:1px solid #888a85;
	border-radius: 6px;
	background-color: #343437;*/
	color:#888a85;
}

QCheckBox:hover{
	/*border:1px solid #888a85;
	border-radius: 6px;
	background-color: #343437;*/
}

QCheckBox:focus{
/*	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #343437;
*/
/* 	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CDEB8B, stop: 1 #f6f7fa); */
}

/*MalĂˇ oblast zaĹˇkrtĂˇvĂˇtka-checkboxu*/
QCheckBox::indicator{
	background-color: #141417;
	border:1px solid #888a85;
	border-radius: 6px;
}


QCheckBox::indicator::checked {
	image: url('themes/Black/check.png');
}

QCheckBox::indicator::checked:disabled {
	image: url('themes/Black/unchecked.png');
}

QCheckBox::indicator::unchecked {
	image: url('themes/Black/blank.png');
}


QSpinBox {
	border:1px solid #888a85;
	border-radius: 6px;
	padding: 0 8px;
	padding-right:13px;
	background-color: #141417;
	selection-background-color: darkgray;
	color:#888a85;
}

QSpinBox:disabled{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
	color:gray
}

QSpinBox:hover{
	border:1px solid #888a85;
	border-radius: 6px;
/* 	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f6f7fa, stop: 1 #89A0C6); */
}

QSpinBox:focus{
	border:1px solid #888a85;
	border-radius: 6px;
/* 	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #C4D8FF, stop: 1 #f6f7fa); */

/* 	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CDEB8B, stop: 1 #f6f7fa); */
}




 QSpinBox::up-button {
     subcontrol-origin: border;
     subcontrol-position: top right; /* position at the top right corner */

     width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */

     border-width: 1px;
 }



 QSpinBox::up-arrow {
   color: red;
     width: 7px;
     height: 7px;
    image: url(themes/Black/arrow_up.png);
 }


 QSpinBox::down-button {
     subcontrol-origin: border;
     subcontrol-position:bottom right; /* position at the top right corner */

     width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */

     border-width: 1px;
 }


 QSpinBox::down-arrow {
    image: url(themes/Black/arrow_down.png);
     width: 7px;
     height: 7px;
 }

 QSpinBox::down-arrow:disabled,
 QSpinBox::down-arrow:off { /* off state when value in min */
    image: url(:/images/down_arrow_disabled.png);
 }









QLineEdit {
	border:1px solid #888a85;
	border-radius: 6px;
	padding: 0 8px;
	
 	background: url(themes/Black/line_edit.png) repeat-y top right;
	background-color: #1e1e1e;
	selection-background-color: darkgray;
	color:#888a85;

}

QLineEdit:disabled{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #1e1e1e;
	color:gray
}

QLineEdit:hover{
	border:1px solid #888a85;
	border-radius: 6px;
	padding: 0 8px;
	selection-background-color: darkgray;
}

QLineEdit:focus{
	border:1px solid #888a85;
	border-radius: 6px;
	padding: 0 8px;
	
	selection-background-color: darkgray;

/* 	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #CDEB8B, stop: 1 #f6f7fa); */
}
QLineEdit:read-only {
/* 	color:black */
	border:1px solid #888a85;
	border-radius: 6px;
	padding: 0 8px;
	background-color: #141417;
	selection-background-color: darkgray;
}

QPushButton{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
	padding:5px;
	color:#888a85;
}
QPushButton:focus{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
}

QPushButton:hover{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #343437;
	padding:5px;
}

QToolButton{
	border:1px solid #888a85;
	border-radius: 6px;
	background-color: #141417;
	padding:2px;
	color: #888a85;
}
QWidget#statusMessage,#statusWidget{
	border:0px none #888a85;
	border-radius: 6px;
	background-color: #141417;
	padding:0px;
	margin: 0px;
	color: #888a85;

}

QToolButton#statusWidget::menu-indicator {
	image: url();
}

QToolButton::menu-indicator {
	image: url();
	subcontrol-origin: padding;
	subcontrol-position: bottom right;
	color: #888a85;
}

QToolButton:focus{
	border:1px solid #d3d7cf;
	border-radius: 6px;
	background-color: #141417;
	padding:2px;
	color: #888a85;
}

QToolButton:hover{
	border:1px solid #d3d7cf;
	border-radius: 6px;
	background-color: #343437;
	padding:2px;
	color: #888a85;
/* 	padding:5px; */
}

/* PĹ™ihlaĹˇovacĂ­ tlaÄŤĂ­tko*/
QPushButton#login_connect{
	min-width:100px;
	font-weight: bold;
	font-size: 15px;
	font-family: Arial;
	
	background: url(themes/Black/login_button.png);
	
}

/* PĹ™ihlaĹˇovacĂ­ tlaÄŤĂ­tko pĹ™i najetĂ­ myĹˇi*/
QPushButton#login_connect:hover{
	background: url(themes/Black/login_button_hover.png);
	
}
/* PĹ™ihlaĹˇovacĂ­ tlaÄŤĂ­tko pĹ™i zmĂˇÄŤknutĂ­*/
QPushButton#login_connect:pressed{
	background: url(themes/Black/login_button_pressed.png);
	
}


/*Self-avatar*/
QFrame#frame{

background-color: #141417;

color: #888a85;
border:0;
padding-bottom:5px;
padding-top:5px;
}

QLabel#login_headerLabel,QLabel#bookmarks_headerLabel,QLabel#eventsLabel{
/* color:white; */
color: #888a85;
font-family: Arial;
font-size: 40px; 
/* 	border-top-left-radius:0; */
/* 	border-top-right-radius:0; */


}

QGroupBox{
	border:1px solid #888a85;
	border-radius: 6px;
	padding-top:15px;
	background-color: #141417;
	color: #888a85;
}

 QGroupBox::title {

     padding: 0 3px;
	/*border:1px solid #888a85;*/
	border-radius: 6px;
	font-size: 20px;
	padding-right: 10px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-top-right-radius:0;
	color: #888a85;


 }


/* scrollbar */
QScrollBar:vertical, #splitter QScrollBar:vertical, #splitter_2 QScrollBar:vertical { 


background-color: #141417;
width: 13px; 
margin: 15px 0 15px 0; }

QScrollBar::handle:vertical { background: url(themes/Black/handlebar_vertical.png) repeat-y top left; border-radius: 6px; min-height: 20px; }

QScrollBar::add-line:vertical { border-top: 0px; background: #141417; height: 13px; subcontrol-position: bottom; subcontrol-origin: margin; }

QScrollBar::sub-line:vertical { border-bottom: 0px; background: #141417; height: 13px; subcontrol-position: top; subcontrol-origin: margin; }

QScrollBar::up-arrow:vertical { background: url(themes/Black/arrow_up.png) no-repeat center center; }

QScrollBar::down-arrow:vertical { background: url(themes/Black/arrow_down.png) no-repeat center center; }

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical { background: none; }



QScrollBar:horizontal, #splitter QScrollBar:horizontal, #splitter_2 QScrollBar:horizontal { border: 1px solid #888; border-left: 0px; border-right: 0px; background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #aaa, stop: 0.4 #eee, stop: 1.0 #fff); height: 13px; margin: 0px 15px 0 15px; }

QScrollBar::handle:horizontal { background: url(themes/Black/handlebar_horizontal.png) repeat-x top left; border-left: 1px solid #555; border-right: 1px solid #555; border-radius: 6px; min-width: 20px; }

QScrollBar::add-line:horizontal { border: 1px solid #888; border-right: 0px; background: #fff; width: 15px; subcontrol-position: left; subcontrol-origin: margin; }

QScrollBar::sub-line:horizontal { border: 1px solid #888; border-left: 0px; background: #fff; width: 15px; subcontrol-position: right; subcontrol-origin: margin; }

QScrollBar::right-arrow:horizontal { background: url(themes/Black/arrow_left.png) no-repeat center center; }

QScrollBar::left-arrow:horizontal { background: url(themes/Black/arrow_right.png) no-repeat center center; }

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal { background: none; }


