[header]
name = 'Default Jabbim style'
author = 'Josef cornelius Vybíral'
version = '0.1'

[images]
#imageName='ng/image.png'
groupOpened = group-open.png
groupClosed = group-closed.png
groupBackground = group.png

[colors]
#colorName=red,green,blue
#colorName=red,green,blue,alpha
groupBg = 95, 41, 14
userBg = 240, 240, 240
selectedUserBg = 210, 210, 210
groupFont = 230, 230, 230
userFont = 33, 33, 33
statusFont = 180, 180, 180
selectedUserFont = 0, 0, 0
selectedStatusFont = 0, 0, 0

[groupitem]
shape = squared
height = 22
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontColor = groupFont
fontSize = 12
textCoordinates = -20, 5
#backgroundColor = 5, 0, -5, 24, groupBg
backgroundImage = 0, 3, groupBackground
#backgroundColor=x,y,width,height,groupBackground
openedIcon = 11, 6, groupOpened
closedIcon = 11, 6, groupClosed
spaceBetweenGruops = 10

[useritem]
height = 48
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontSize = 10
fontColor = userFont
textCoordinates = 43, 12, 35, 25
backgroundColor = 5, 5, -5, 0, userBg
iconCoordinates = -12, 10
iconSize = 22, 22
avatarCoordinates = 9, 10
avatarSize = 32, 32
statusTextCoordinates = 43, 31, 12, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
statusFontSize = 11
statusFontColor = statusFont
statusHeight = 3

[selected useritem]
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontSize = 10
fontColor = selectedUserFont
textCoordinates = 43, 12, 35, 25
backgroundColor = 5, 5, -5, 0, selectedUserBg
iconCoordinates = -12, 10
iconSize = 22, 22
avatarCoordinates = 9, 10
avatarSize = 32, 32
statusTextCoordinates = 43, 31, 12, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
statusFontSize = 11
statusFontColor = selectedStatusFont
statusHeight = 3
height = 32
