[header]
name = 'Default Jabbim style'
author = 'Jan HanzZ Kaluza'
version = '0.2'

[images]
#imageName='ng/image.png'
groupOpened = group-open.png
groupClosed = group-closed.png
groupBackground = group.png

[colors]
#colorName=red,green,blue
#colorName=red,green,blue,alpha
groupBg = 144, 32, 34
userBg = 223, 121, 122
selectedUserBg = 148, 200, 255
groupFont = 249, 233, 255
userFont = 243, 243, 243
statusFont = 222, 222, 222
selectedUserFont = 0, 0, 0
selectedStatusFont = 0, 0, 0

[groupitem]
shape = normal
height = 27
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontColor = groupFont
fontSize = 17
textCoordinates = -20, 2
backgroundColor = 5, 0, -5, 24, groupBg
#backgroundImage = 0, 0, groupBackground
#backgroundColor=x,y,width,height,groupBackground
openedIcon = 11, 6, groupOpened
closedIcon = 11, 6, groupClosed
spaceBetweenGruops = 10

[useritem]
height = 32
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontSize = 17
fontColor = userFont
textCoordinates = 43, 2, 35, 25
backgroundColor = 5, 0, -5, 0, userBg
iconCoordinates = -12, 0
iconSize = 22, 22
avatarCoordinates = 9, 0
avatarSize = 32, 32
statusTextCoordinates = 43, 21, 12, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
statusFontSize = 11
statusFontColor = statusFont
statusHeight = 3

[selected useritem]
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontSize = 17
fontColor = selectedUserFont
textCoordinates = 43, 2, 35, 25
backgroundColor = 5, 0, -5, 0, selectedUserBg
iconCoordinates = -12, 0
iconSize = 22, 22
avatarCoordinates = 9, 0
avatarSize = 32, 32
statusTextCoordinates = 43, 21, 12, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
statusFontSize = 11
statusFontColor = selectedStatusFont
statusHeight = 3
height = 32
