QWidget#groupStyleWidget {
    background-color:#A6ADB0;
/*     color:#000000; */
}

QWidget#userStyleWidget {
    background-color:rgba(0,0,0,0%);
/*     color:#000000; */
}

QLabel#selfName {
margin-left:15px;
}