QWidget#groupStyleWidget {
    background-color:#EEEEEC;
/*     color:#000000; */
}

QWidget#userStyleWidget {
/*     background-color:rgba(0,0,0,0%); */
    color:#3E3F3D;
}

QLabel#selfName {
margin-left:15px;
}