[header]
'type'='emoticons'
'name'='Default Jabbim emoticons'
'license'='GPL'
'frontImage'='biggrin16.png'
'version'='0.1'
'author'=''
'description'='Default Jabbim emoticons'


[emoticons]

'>:-)'='devil16.png'
'>:)'='devil16.png'
']:->'='devil16.png' 

':-)'='smile16.png'
':)'='smile16.png'

'B-)'='coolglasses16.png'
'8-)'='coolglasses16.png'

';-)'='wink16.png'
';)'='wink16.png'

':-D'='biggrin16.png'
':->'='biggrin16.png'
':D'='biggrin16.png'
':>'='biggrin16.png'
'xD'='biggrin16.png'	

':-('='unhappy16.png'
':('='unhappy16.png'

":'("='cry16.png'
';-('='cry16.png'
';('='cry16.png'
";'-("='cry16.png'

':-/'='frowning16.png'
':/'='frowning16.png'
':-S'='frowning16.png'
':S'='frowning16.png'

':-$'='blush16.png'
':$'='blush16.png'

':-@'='angry16.png'
':@'='angry16.png'

':-['='bat16.png'
':['='bat16.png'

':-*'='kiss16.png'
':*'='kiss16.png'

':-|'='stare16.png'
':|'='stare16.png'


':-P'='tongue16.png'
':P'='tongue16.png'

':-p'='tongue16.png'
':p'='tongue16.png'

':-O'='oh16.png'
':O'='oh16.png'

'<3'='heart16.png'

#MSN ones
'(@)'='pussy16.png'
'(%)'='cuffs16.png'
'(S)'='moon16.png'
'(I)'='lamp16.png'
'(8)'='music16.png'
'(B)'='beer16.png'
'(L)'='heart16.png'
'(6)'='devil16.png'
'(W)'='brflower16.png'
'(Z)'='boy16.png'
'(X)'='girl16.png'
'(E)'='mail16.png'
'(N)'='thumbdown16.png'
'(P)'='photo16.png'
'(K)'='kiss16.png'
'(Y)'='thumbup16.png'
'(})'='hugleft16.png'
'(U)'='brheart16.png'
'(F)'='flower16.png'
'(H)'='coolglasses16.png'
'(D)'='drink16.png'
'(T)'='phone16.png'
'(C)'='coffee16.png'
'({)'='hugright16.png'
'(*)'='star16.png'
'(R)'='rainbow16.png'

