@import "../common.css";

.msgIn .msgContainer {
	background-color: RGB(33,64,115);
	position: relative;
	left: 35px;
	color:#fff;
}

.msgOut .msgContainer {
	background-color: RGB(53,141,73);
	position: relative;
	right: 35px;
	color:#fff;
}
