@import "../common.css";

.msgIn .msgContainer {
	background-color: RGB(175,30,30);
	position: relative;
	left: 35px;
	color:#fff;
}

.msgOut .msgContainer {
	background-color: RGB(235,200,0);
	position: relative;
	right: 35px;
	color:#573011;
}

