[header]
name = 'Default Jabbim style'
author = 'Josef Cornelius Vybiral, edited by Michal Bryxí'
version = '0.2'

[images]
groupOpened = group-open.png
groupClosed = group-closed.png
groupBackground = group.png

[colors]
groupBg = 144, 32, 34,0
groupFont = 249, 233, 255
rosterBackground = 255,255,255
selectedStatusFont = 100, 100, 100
selectedUserBg = 255, 225, 176
selectedUserFont = 0, 0, 0
statusFont = 100, 100, 100
userBg = 223, 121, 122,0
userFont = 0, 0, 0

[groupitem]
shape = own
height = 22
textFormat = <font color=%fontColor%><b>%text%</b></font>
fontColor = groupFont
fontSize = 10
textCoordinates = -20, 2
backgroundColor = 5, 0, -5, 22, groupBg
backgroundImage = 0, 0, groupBackground
openedIcon = 5, 4, groupOpened
closedIcon = 5, 4, groupClosed
spaceBetweenGruops = 0

[useritem]
# left top right bottom
avatarCoordinates = 0, 0
avatarSize = 24, 24
backgroundColor = 0, 0, -0, 0, userBg
fontColor = userFont
fontSize = 10
height = 24
iconCoordinates = -1, 1
iconSize = 24, 24
statusFontColor = statusFont
statusFontSize = 9
statusHeight = 1
statusTextCoordinates = 25, 9, 24, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
textCoordinates = 25, -3, -1, 18
textFormat = <font color=%fontColor%><b>%text%</b></font>

[selected useritem]
avatarCoordinates = 0, 0
avatarSize = 24, 24
backgroundColor = 0, 0, -0, 0, selectedUserBg
fontColor = selectedUserFont
fontSize = 10
height = 24
iconCoordinates = -1, 1
iconSize = 24, 24
statusFontColor = selectedStatusFont
statusFontSize = 9
statusHeight = 1
statusTextCoordinates = 25, 9, 24, 16
statusTextFormat = <font color=%fontColor%>%text%</font>
textCoordinates = 25, -3, -1, 18
textFormat = <font color=%fontColor%><b>%text%</b></font>
